/* stylesheet */


body {
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	color: #242424;
}

input {
	font-family: "Graphik";
}

* {
	box-sizing: border-box;
	font-family: "Graphik";
}

.header-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	transition: height 0.5s ease;
}

.header-small {
	height: 300px;
}

.logo-wrapper {
	width: 100%;
	max-width: 500px;
	margin-bottom: 25px;
}

.logo {
	max-width: 100%;
}

.search-wrapper {
	width: 100%;
	max-width: 500px;
}

.form-wrapper {
	display: flex;
	flex-direction: row;
	position: relative;
	width: 100%;
	max-width: 500px;
}

.search-form {
	width: 100%;
	text-align: center;
	padding: 10px;
	border-radius: 50px 0 0 50px;
	outline: none;
	border: 1px solid lightgrey;
	border-right: none;
}

.submit-button {
	border-radius: 0 50px 50px 0;
	border: 1px solid lightgrey;
	border-left: none;
	background-color: #FFF;
	padding: 10px;
	width: 45px;
	height: 43px;
	background-image: url(/assets/images/search.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20px;
	transition: 0.25s ease;
}

.submit-button:hover {
	cursor: pointer;
	background-size: 25px;
}

.article-wrapper {
	display: flex;
	flex-direction: row;
}

.news-wrapper {
	display: flex;
	flex-direction: column;
	width: 33.33%;
	padding-left: 20px;
	padding-right: 20px;
}

.searched-for {
	text-align: center;
}

.source-name {
	width: 100%;
	text-align: center;
}

.image {
	max-width: 100%;
}

.article {
	margin-bottom: 20px;
}

.title {
	padding: 10px;
}

.link {
	text-decoration: none;
	color: #242424;
}

.title:hover {
	text-decoration: underline;
}

.hidden {
	visibility: hidden;
}

@media screen and (max-width: 750px) {

	.header-wrapper {
		padding: 40px;
	}

	.article-wrapper {
		flex-direction: column;
	}

	.news-wrapper {
		position: relative;
		width: 100%;
		flex-direction: column;
	}

	.article-container {
		display: flex;
		flex-direction: row;
		overflow: scroll;
	}

	.source-name {
		width: 100%;
	}

	.article {
		width: 500px;
		padding-left: 20px;
		padding-right: 20px;
		margin: 0;
	}

}